<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    <% if(data.id == "true"){ %>
    <a href="<%= data.link %>" id="login">
        <button>Login</button>
    </a>
   <% }else{ %>
    <div id="info">
        <img src="https://cdn.discordapp.com/avatars/<%=data.id %>/<%=data.avatar %>.png">
        <p><%=(data.global_name?data.global_name:'Annonymous') %></p>  
        <p><%=data.username %></p>
    </div>
    <% } %>
</body>
</html>